.codeboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin:0;
  Padding:0;
  margin-left: 0px;
  padding-left: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  display: none;
  white-space: nowrap; /* Prevent line breaks */
}

.dropdown-option {
  align-items: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block; /* Display options in a line */
  cursor: pointer;
  justify-content: center;
  margin-right: 8px; /* Add some spacing between options */
}


.dropdown-option:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-btn {
  background-color: #008cba;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.code-area {
  flex: 1;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}


pre {
  margin: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input-label {
  margin-right: 0px;
}

.input-box {
  flex: 1;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  resize: none;
}
.output-container {
  padding: 10px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-title {
  margin-bottom: 10px;
}

.output-box {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #f1f1f1;
  overflow-y: auto;
}

.code-input {
  font-size: 16px; /* Increase the font size */
  height: 245px; /* Increase the height of the code input area */
  width: 1270px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}
