/* CrackChampCompetition.css */
.competition-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .login-form-container {
    margin-bottom: 20px;
  }
  
  .signup-form-container {
    margin-top: 20px;
  }
  